.cardImage {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.bgProducts {
    background-color: rgba(255, 166, 0, 0.671);
}